.echoCard {
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}


.upperEchoCard {
    height: 80%;
    display: flex;
    align-items: center;
}

.upperEchoButton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 5px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
}

#playTriangle {
    margin-left: 5px;
}

.upperEchoButton:hover {
    opacity: 0.8;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

#myWaveForm {
    flex-grow: 1;
    margin: 0 5px;
}

.lowerEchoCard {
display: flex;
justify-content: flex-end;
align-items: center;
height: 10%;
}

.lowerEchoButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
