@font-face {
    font-family: 'rubikBold';
    src: url(../../../assets/fonts/Rubik-Bold.ttf) format('ttf');
}

#navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    /* border: 2px solid gold; */
    width: 10vw;
    height: 100vh;
    /* margin-left: 10vw; */
    /* position: fixed; */
    /* margin-right: 53%; */
}

#navContainer h1 {
    margin-top: 25%;
    font-size: 58px;
    font-family: 'rubikBold', sans-serif;
    font-weight: bold;
    color: #4e844e;
    cursor: pointer;
}

.links-nav-bar {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 75%;
}


.navButtonWrapper {
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 10%;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 7%;
}


.navButtonWrapper:hover {
    background-color: #ccc6c6c4; 
}

.navButtonText {
    font-size: 1.5em;
    font-family: 'rubikBold', sans-serif;
    font-weight: bold;
    margin-left: 8.5%;
}

#createButton {
    padding: 7%;
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    width: 90%;
    height: 9%;
    background-color: #4e844e;
    color: white;
    box-shadow: 0, 4px, 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

#createButton:hover {
    transform: scale(1.08);
}

#logoutText {
    font-size: 175%;
    font-family: 'rubikBold', sans-serif;
    font-weight: bold;
    margin-right: 8.5%;
}

#homeIcon {
    font-size: 150%;
}

#profileIcon {
    font-size: 150%;
}

#recordIcon {
    font-size: 150%;
}

#logoutIcon {
    font-size: 150%;
}

#logoutButton {
    margin-bottom: 25%;
}
