.links-nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50vh;
    align-items: center;
    padding-right: 50px;
    position: sticky;
    top: 10px;
    height: 100vh;
    
}

.links-nav{
    display: flex;
    flex-direction: column;
}

.links-nav a {
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}