@font-face {
    font-family: 'rubikBold';
    src: url(../../../assets/fonts/Rubik-Bold.ttf) format('ttf');
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    height: 100vh;
    /* width: 10vw; */
    /* top: 0px; */
    /* border: 2px solid gold; */
    /* margin-left: 10vw; */
    /* position: fixed; */
    margin-right: 2%;
}

.nav-header {
    margin-top: 25%;
    margin-bottom: 25%;
    font-size: 58px;
    font-family: 'rubikBold', sans-serif;
    font-weight: bold;
    color: #4e844e;
    cursor: pointer;
}

.links-nav-bar {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 85%; */
    /* height: 75%; */
}


.navButtonWrapper {
    /* margin-top: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
    /* height: 10%; */
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 10%;
    
    
}


.navButtonWrapper:hover {
    background-color: #ccc6c6c4; 
}

.navButtonText {
    font-size: 1.5em;
    font-family: 'rubikBold', sans-serif;
    font-weight: bold;
    margin-left: 8.5%;
}

.create-button {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 15%;
    padding-right: 15%;
    /* margin-top: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    /* width: 90%; */
    /* height: 9%; */
    background-color: #4e844e;
    color: white;
    box-shadow: 0, 4px, 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.create-button:hover {
    background-color: #4e844e;
    transform: scale(1.08);
}

.secondary-nav-links {
    margin-bottom: 25%;
}

.logout-text {
    font-size: 175%;
    font-family: 'rubikBold', sans-serif;
    font-weight: bold;
    margin-right: 8.5%;
}

.nav-icon {
    font-size: 125%;
}




