.echos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topEchoNav {
    width: 41%;
    height: 8vh;
    /* border: 2px solid black; */
}


.echos-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    /* border: 2px solid greenyellow; */
}

.echo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-height: 100%; */
    margin: 0px;
    border-radius: 10px;
    min-height: 57px;
    width: 80%;
    height: 180px;
    gap: 15px;
    /* border: 1px solid black; */
}

.echo-content {
    max-height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.echo-details {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    gap: 15px;
}

.echo-text {
    padding-left: 25px;
}

.profile-image {
    vertical-align: middle;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
    /* border: 0; */
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin-left: 2%;
}

#reverb-button {
    color: lightseagreen;
}

#like-button {
    color: crimson;
    opacity: 100%;
}

#reply-button {
    color: royalblue;
}

