.echo-box {
    display: flex;
    box-sizing: border-box;
    /* border: 2px solid blue; */
    border-radius: 10px;
    margin-bottom: 5px;
    min-height: 57px;
    align-items: center;
    width: 512px;
    /* padding-bottom: 10px; */
    border: 1px solid black;
    height: 140px;
}

.profile-image {
    vertical-align: middle;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
    border: 0;
    box-sizing: border-box;
    width: 80px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.echo-text {
    padding-left: 25px;
}

.echo-waveform {
    height: 100px;
    margin: 5px;
    width: 100%;
}