p,
h3 {
    margin-left: 5px;
}

.echo {
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: 5px;
    min-height: 57px;
}

.profile-image {
    height: 18px;
    margin-right: 5px;
    margin-left: 2px;
}

.echo-image {
    height: 100px;
    margin: 5px;
}