.compose-echo {
    display: flex;
    flex-direction: column;
}

.compose-echo-form {
    display: flex;
    flex-direction: column;
}


.echo-upload-button:hover {
    cursor: pointer;
}

.echo-text {
}

.echo-preview {
    min-height: 150px;
}

/* label {
    display: block;
    margin-top: 5px;
} */

/* input[type=file] {
    margin-left: 5px;
} */