.echo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    margin: 0px;
    border-radius: 10px;
    margin-bottom: 5px;
    min-height: 57px;
    width: 512px;
    height: 140px;
}

.echo-content {
    max-height: 100%;
    display: flex;
    align-items: center;
}

.echo-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

.echo-text {
    padding-left: 25px;
}

.profile-image {
    vertical-align: middle;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
    border: 0;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

