.compose-echo {
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black
}

.echo-text {
    width: 100%;
}

.echo-preview {
    min-height: 150px;
}

label {
    display: block;
    margin-top: 5px;
}

/* input[type=file] {
    margin-left: 5px;
} */