@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.reply-root-parent {
    margin-bottom: -10px;
}

.reply-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 5vw;
    background-color: aliceblue;
    border-bottom: 2px solid rgba(198, 198, 198, 0.194);
    border-top: 2px solid rgba(198, 198, 198, 0.194);
    transition: background-color 0.3s ease;
}

.reply-content {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.reply-details {
    position: relative;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}

.reply-profile-image {
    vertical-align: middle;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin-left: 5%;
    cursor: pointer;
    z-index: 10;
}

.reply-username {
    color: rgb(97, 97, 97);
    font-size: 14px;
    margin-top: 2px;
    cursor: pointer;
    margin-right: 10px;
}

.reply-username:hover {
    color: green;
}

.reply-follow-modal {
    margin-left: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 60px;
    font-size: 12px;
    color: white;
    background-color: #0077cc;
    border-radius: 50%;
    transition: all 0.5s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    z-index: 10;

}

.reply-follow-modal-comments {
    margin-left: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 60px;
    font-size: 12px;
    color: white;
    background-color: #0077cc;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease;
}

/* 
    vertical-align: middle;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin-left: 5%;
    cursor: pointer; */

.reply-follow-modal:hover {
    /* color: white;
    background-color: #0077cc; */
    border-bottom: 3px solid blue;
}

.reply-list-comment {
    width: 100%;
    padding: 10px;
    background-color: #e2e2e23d;
    margin-left: 20px;
    margin-right: 50px;
    border-radius: 10px;
    word-wrap: break-word;
    max-width: 17vw;
}

.reply-comment-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    min-height: 5vw;
    background-color: aliceblue;
    border-bottom: 2px solid rgba(198, 198, 198, 0.194);
    border-top: 2px solid rgba(198, 198, 198, 0.194);
    transition: background-color 0.3s ease;
}

.delete-icon {
    position: relative;
    left: px;
    cursor: pointer;
}

.reply-likes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reply-likes > i {
    color: crimson;
    opacity: 100%;
    transform: scale(1.5);
    cursor: pointer;
    margin-right: 10px;
}





    