.echos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.echos-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin-top: 3vh;
}




