.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    width: 50vw;
    margin-left: 7vw;
    height: 100vh
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image-large{
    vertical-align: middle;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
    border: 0;
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.profile-feed-links {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.profile-nav a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.profile-nav a.active {
    color: white;
    background-color: #0077cc;
    border-bottom: 3px solid blue;
}