.create-echo-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 600px;
    height: 600px;
    margin-top: 200px;
}

.create-echo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.title-input {
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid rgb(252, 151, 255);
    border-radius: 15px;
}

/* .create-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

/* .create-buttons > button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 0;
    border-radius: 25px;
    margin-right: 10px;
} */

/* .upload-button {
    background-color: rgb(48, 200, 255);
}

.record-button {
    background-color: rgb(255, 109, 109);
}

.clear-button {
    background-color: rgb(143, 143, 143);
} */

/* .submit-button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 0;
    border-radius: 25px;
    margin-right: 10px;
    background-color: black;
    color: white;
} */


/* input[type=file] {
    margin-left: 5px;
} */

