@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.echo-create-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

.create-echo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    opacity: 0;
    animation: fadeIn 0.9s ease forwards;
}

.echo-create-modal.leave {
    animation: fadeOut 0.9s ease forwards;
}

.create-echo-container.leave {
    animation: fadeOut 0.3s ease forwards;
}

.create-echo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.title-input {
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid rgb(252, 151, 255);
    border-radius: 15px;
}

.errors {
    
}

/* .create-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

/* .create-buttons > button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 0;
    border-radius: 25px;
    margin-right: 10px;
} */

/* .upload-button {
    background-color: rgb(48, 200, 255);
}

.record-button {
    background-color: rgb(255, 109, 109);
}

.clear-button {
    background-color: rgb(143, 143, 143);
} */

/* .submit-button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 0;
    border-radius: 25px;
    margin-right: 10px;
    background-color: black;
    color: white;
} */


/* input[type=file] {
    margin-left: 5px;
} */

